<!DOCTYPE html>
<html>
	<head th:replace="~{fragmentos :: head(Detalhes)}"></head>
	<body>
		<header th:replace="~{fragmentos :: header}"></header>
		<div class="container">
			<div>Id: <span th:text="${cliente.id}"></span></div>
			<div>Nome: <span th:text="${cliente.nome}"></span></div>
			<div>CPF: <span th:text="${cliente.cpf}"></span></div>
			<div>Telefone: <span th:text="${cliente.telefone}"></span></div>
			<div>Email: <span th:text="${cliente.email}"></span></div>
			<div>Vendeu: <span th:text="${cliente.vendeu}"></span></div>
			<div class="row">
				<div class="col-12">
					<a href="#">Editar</a>
					<a href="#">Deletar</a>
					<a href="/clientes">Voltar</a>
				</div>
			</div>
			
		</div>	
	</body>
</html>